# Ignore drawn images
temp/*.png

# We don't want to have large files in the repository (also because we can easily generate them with the notebooks...)
# Data in the dataset folders (we don't want large files in the repositories).
models/*.png
models/*.pickle
models/*.pck
models/*.pcl
models/*.db
models/*.z
models/*.gz
models/*.bz2
models/*.xz
models/*.lzmam
models/*.zlib
models/*.joblib

# Python compiled files
*.pyc

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/test.py
/test_*.*

/setup.cfg
MANIFEST.in
/setup.py
/docs/site/*
/tests/fixtures/simple_project/setup.py
/tests/fixtures/project_with_extras/setup.py
.mypy_cache

.venv
/releases/*
pip-wheel-metadata
/poetry.toml

poetry/core/*